<div class="modal fade" id="delete">
  <div class="modal-dialog mt-20 g-W">
    <div class="modal-content">
      <div class="modal-body">
        <div class="box-body">
          <div class="g-box">
          	<i class="glyphicon glyphicon-remove-sign g-icon"></i>
          	<span class="g-ft">是否确认删除</span>	
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deleteClked()" class="btn btn-danger" >删除</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
</div>