<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu tree party-menu" data-widget="tree">

      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-cubes"></i> <span>系统</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink='./BaseData/OrganizationList'><i class="fa fa-gg"></i>组织机构架构</a></li>
          <li><a routerLink='./BaseData/UserManagement'><i class="fa fa-group"></i>用户管理</a></li>
          <li><a routerLink='./BaseData/RoleManagement'><i class="fa fa-child"></i>系统角色管理</a></li>
          <li><a routerLink='./BaseData/RoleAuthorization'><i class="fa fa-houzz"></i>角色模块授权</a></li>
        </ul>
      </li>
</ul>
  </section>
  <!-- /.sidebar -->
</aside>
