<div Class="wrapper">
  <app-header></app-header>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-menu></app-menu>

  <!-- Content Wrapper. Contains page content -->
  <div Class="content-wrapper">
    <app-content></app-content>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <!-- <app-sidebar *ngIf="isAdmin"></app-sidebar> -->
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <app-footer></app-footer>

</div>

<app-loading style="display:none" id="loading"></app-loading>
