<footer class="main-footer footer">
    <table align="center">
				<tbody><tr>
					<td align="center">
						<span id="_ideConac">
							<img id="imgConac" vspace="0" hspace="0" border="0" src="//dcs.conac.cn/image/blue.png" data-bd-imgshare-binded="1">
						</span>
						<span id="_ideConac"></span>
					</td>
					<td align="center"><p style="text-align: center; line-height: 30px; color: white; font-size: 12px;">
							Copyright 2014 广西财经学院 党委宣传部 现代教育技术部 All Rights Reserved <br>
							地址：广西南宁市明秀西路100号 邮编：530003 桂ICP备07004019号，
							<span style="color:red">【信息发布】</span><span style="color:red">【VPN】</span>
						</p></td>
				</tr>
			</tbody></table>
  </footer>