<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th *ngIf="isShowCheck" class="W-20"></th>
      <th *ngIf="isShowNumber" class="sorting">工号</th>
      <th *ngIf="isShowName" class="sorting">姓名</th>
      <th *ngIf="isShowDepart" class="sorting">部门</th>
      <th *ngIf="isShowPosition" class="sorting">职位</th>
      <th *ngIf="isShowRole" class="sorting">角色</th>
      <th *ngIf="isShowState" class="sorting">用户状态</th>
      <th *ngIf="isShowOperation" class="sorting">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dataList.listData">
      <td *ngIf="isShowCheck" class="W-20">
        <label>
          <input type="checkbox" name="select-user" value="{{ item.userID }}">
        </label>
      </td>
      <td *ngIf="isShowNumber">{{ item.userNO }}</td>
      <td *ngIf="isShowName">{{ item.userName }}</td>
      <td *ngIf="isShowDepart">{{ item.organizationName }}</td>
      <td *ngIf="isShowPosition">{{ item.positionName }}</td>
      <td *ngIf="isShowRole"><span *ngFor="let role of item.userRoleModel">{{ role.roleName }}&nbsp;&nbsp;</span></td>
      <td *ngIf="isShowState">{{ item.userType }}</td>
      <td *ngIf="isShowOperation">
        <button type="button" data-toggle="modal" data-target="#user-edit" (click)="editClked(item.userID)" class="btn btn-primary btn-xs mr-2">编辑</button>
        <button *ngIf="!item.isSynchronization" type="button" data-toggle="modal" data-target="#delete" (click)="onBundingDeleteID(item)" class="btn btn-danger btn-xs mr-2">删除</button>
        <button *ngIf="!item.isSynchronization && isShowpasswordBtn" type="button" (click)="passwordRClked(item.userID)" class="btn btn-info btn-xs mr-2">密码重置</button>
      </td>
    </tr>
  </tbody>
</table>