.icon_raduis_l {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
  .icon_raduis_r {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
  }
  .icon_raduis {
    border-radius: 4px !important;
  }
  a:hover {
    cursor: pointer;
  }
  .btn-px {
    padding: 6px 30px;
  }
  .btn-default:hover {
    background: #3c8dbc;
    color: #ffffff;
    border: 1px solid #3c8dbc;
  }