<section class="content-header">
  <h1>个人信用分数查询</h1>
</section>
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">DHY</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label>工号:</label>
            <input disabled type="text" class="form-control radius" id="userNO" placeholder="工号">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>姓名:</label>
            <input disabled type="text" class="form-control radius" id="userNO" placeholder="姓名">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>部門:</label>
            <input disabled type="text" class="form-control radius" id="userNO" placeholder="部門">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>角色:</label>
            <input disabled type="text" class="form-control radius" id="userNO" placeholder="角色">
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-3">
            <div class="form-group">
              <label>前置审批单据数:</label>
              <input disabled type="text" class="form-control radius" id="userNO" placeholder="前置审批单据数">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label>报账审批单据数:</label>
              <input disabled type="text" class="form-control radius" id="userNO" placeholder="报账审批单据数">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label>前置审批单据回退次数:</label>
              <input disabled type="text" class="form-control radius" id="userNO" placeholder="前置审批单据回退次数">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label>报账审批单据回退次数:</label>
              <input disabled type="text" class="form-control radius" id="userNO" placeholder="报账审批单据回退次数">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
              <div class="form-group">
                <label>信用分数:</label>
                <input disabled type="text" class="form-control radius" id="userNO" placeholder="信用分数">
              </div>
            </div>
          </div>
    </div>
    <div class="box-footer">
    </div>
  </div>
</section>