a:hover {
  cursor: pointer;
}
.btn-px {
  padding: 6px 30px;
}
.btn-default:hover {
  background: #3c8dbc;
  color: #ffffff;
  border: 1px solid #3c8dbc;
}
.W-45 {
  width: 45px;
}
.p_045 {
  padding: 0 45px;
}